@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  src: url("/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-optical-sizing: auto;
  src: url("/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YuGothic";
  font-optical-sizing: auto;
  src: url("/fonts/YuGothic/YuGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YuGothic";
  font-optical-sizing: auto;
  src: url("/fonts/YuGothic/YuGothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Убрать скроллбар в Chrome, Safari и Opera */
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

rt {
  font-size: 0.6em;
}
